.stax-input-container{
    height: 40px;
    margin: 10px 0;
}
.stax-input {
    background: #ebebeb;
    border-radius: 10px;
    width: 100px;
    border: none;
    height: 40px;
    padding: 10px;
    margin-right: 10px;
}
.expire-date {
    display: inline-block;
    margin: 20px 0;
}